<div>
  <div id="main">
    <div id="burgers">
      <div id="available">
        {{availableBurgers}}
      </div>
      <div id="devoured">
        {{devouredBurgers}}
      </div>
    </div>
    <div id="inputBurger">

    </div>
  </div>
</div>
